body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    margin: 0;
    height: 100vh;
    background-image: url("./assets/dark_cathedral.png");
}

/* vignette */
body::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, transparent 40%, rgba(0,0,0,0.7));
    pointer-events: none;
}

/* both titles */
#titles {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
    text-align: center;
    color: #eaeaea;
    /* transition for smooth scaling */
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 0 10px transparent);
    transition: transform 1s ease-in-out, filter 1s ease-in-out; /* smooth shrink and shadow animation */
}

/* titles shrink effect on hover */
#titles:hover {
    transform: scale(0.85);
    cursor: pointer;
    filter: drop-shadow(0 0 10px #ffffff);
}

/* "EMPYREAN" subtitle */
h1 {
    font-size: 5rem;
    margin: 0;
}

/* "Glory to the EMPyrean." subtitle */
h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

/* copyright text */
p {
    padding: 0;
    margin-bottom: 20px;
    font-size: 10px;
    position: relative;
    z-index: 10;
    position: fixed;
    bottom: 0;
}

/* floating animation for titles */
#float {
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}