body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    margin: 0;
    height: 100vh;
    background-image: url("./assets/main_background.jpg");
}

/* vignette */
body::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, transparent 40%, rgba(0,0,0,0.7));
    pointer-events: none;
}

/* EMPYREAN logo */
#emp_logo {
    max-width: 700px;
}

/* enter button */
#enter {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
    text-align: center;
    color: #000000;
    /* transition for smooth scaling */
    position: relative;
    overflow: hidden;
    transition: transform 1s ease-in-out, filter 1s ease-in-out; /* smooth shrink and shadow animation */
}

/* button shrink effect on hover */
#enter:hover {
    transform: scale(0.85);
    cursor: pointer;
    filter: drop-shadow(0 0 10px #ffffff);
}

/* copyright text */
p {
    padding: 0;
    margin-bottom: 20px;
    font-size: 10px;
    position: relative;
    z-index: 10;
    position: fixed;
    bottom: 0;
    color: #9cabc8;
}